body {
    background-image: url("../images/bananas.png");
}

#my_name {
    background-color: #4aaaa5;
    color: white;
}

#my_picture {
    width:200px;
    height:200px;
}

#bio_text {
    font-size: 20px;
    line-height: 1.5;
}

#main_container {
    background-color: white;
}

.navbar {
    padding: 0;
}

#my_footer {
    color: #4aaaa5;
    background-color: #666666;
}

.portfolio_caption {
    background: none repeat scroll 0 0 #ffffff;
    opacity: 0.75;
    margin: 0 auto;
    bottom: 20%;
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
}

.nav_links {
    font-size: 1.5rem;
}